$clrBackgrDark: #103738;
$clrBackgrBlackTrans: rgba(0, 0, 0, 0.46);
$clrLight: #fcecd7;
$clrLightTrans: rgba(252, 236, 215, 0.5);
$clrBodyFill: #061212;
$clrSelectionHover: #407276;

/* Body Text Sizes
note: multiply graphics editor font sizes by 1.1 (this is from Fenix to Times New Roman to get them the same size, not sure about Fenix to Fenix)

Editor Sizes Before conversion:
$tsHuge: 69px;
$tsPgTitle: 45px;
$tsSectTitle: 30px;
$tsSubTitle: 25px;
$tsPara: 18px;

$tsSectTitleLrg: 35px;
$tsSubTitleSmall: 24px;
$tsParaLrg: 19px;

$tsMainMenuHover: 38px;

/*one-use Text Sizes*/

$tsMainMenuHover: 42px;
$tsHuge: 76px;
$tsPgTitle: 50px;
$tsSectTitle: 33px;
$tsSubTitle: 28px;
$tsPara: 20px;

/*Sidebar Text Sizes*/
$tsSectTitleLrg: 39px;
$tsSubTitleSmall: 26px;
$tsParaLrg: 21px;

/*one-use Text Sizes*/
$tsMainMenuHover: 42px;